body {
  max-width: 1000%;


  background-color: rgb(17, 43, 75);
}

.head {
  max-width: 100%;
  font-family: 'comic Sans MS,cursive';
  text-align: center;
  padding: 0%;
  height: 177%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(247, 247, 247);
  text-decoration-style: wavy;
}

.App {
  width: 100%;
  text-align: center;
}

.input-group {
  width: 60%;
}

.card {
  max-width: 100%;
}

.card-title {
  position: absolute;
  padding: 10px;
  font-size: 25px;
}

.card-date {
  position: absolute;
  padding-left: 6px;
  margin-top: 40px;
}

.card-temp {
  position: absolute;
  padding-left: 90px;
  margin-top: 300px;
  font-size: 25px;
}

.card-desc {
  position: absolute;
  padding-left: 50px;
  margin-top: 320px;
}

@media (max-width: 995px) {
  .card {
    max-width: 100%;
  }
}